<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>菜品信息修改</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../js/jquery-3.1.1.js"></script>
    <script src="../layui/layui.js"></script>
</head>
<body id="body">
<!--这里是弹出层的表单信息-->
<!--表单的id用于表单的选择，style是在本页隐藏，只有点击编辑才会弹出-->
<div class="layui-row" id="popUpdateTest" style="display:none;">
    <form class="layui-form dataFrm" action="/foodMassage/foodUpd" enctype="multipart/form-data">
        <div style="display:none;">
            <span ID="m_id" name="m_id"></span>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">菜品名称</label>
            <div class="layui-input-block" style="width: 200px;">
                <input type="text" name="m_name" lay-filter="m_name" required  lay-verify="required" placeholder="菜品名称" autocomplete="off" class="layui-input m_name">

            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">价格</label>
            <div class="layui-input-inline">
                <input type="text" name="m_price" required lay-verify="required" placeholder="0" autocomplete="off" class="layui-input m_price">
            </div>
            <div class="layui-form-mid layui-word-aux">元</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-block" style="width: 200px;">
                <select name="t_name" lay-verify="required" >
                    <option th:each="c:${type}" th:value="${c.t_id}" th:text="${c.t_name}"></option>
                </select>
            </div>
        </div>

        <div>
            <label class="layui-form-label">菜品图片</label>
            <div class="layui-upload">
                <button class="layui-btn" id="uploadIMG" type="button">更改图片</button>
                <div class="layui-upload-list img">
                    <img class="layui-upload-img m_img" id="demo1" name="m_img">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-submit " lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>