<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.mapper.ZygDetailsMapper">

    <select id="details" parameterType="java.lang.Integer" resultType="java.util.Map">
        select m.m_img,m.m_name,l.l_state,l.l_count,l_sum,l.l_price from orderdetail l,menus m WHERE l.o_id=#{o_id} and l.m_id=m.m_id
    </select>
</mapper>